@use "../../styles/responsive.scss" as *;

.sectionTitle {
  margin-bottom: 80px;
}

.trust {
  padding: 193px 0;
}

.why {
  padding-top: 220px;
  padding-bottom: 205px;

  & .sectionTitle {
    margin-bottom: 60px;
  }
}

.programmaticAccess {
  padding: 205px 0;
}

.technologyCardsContainer {
  display: flex;
  gap: 100px;
}

.institutions {
  padding-bottom: 230px;
}

.solutionsList {
  width: 100%;
}

.solutionItem {
  width: 100%;
}

@include responsive(phone) {
  .technologyCardsContainer {
    flex-direction: column;
    gap: 24px;
    align-items: stretch;
  }

  .solutionItem {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .solutionItem :global(.item-text-with-image__content) {
    width: 100%;
  }

  .solutionItem :global(.item-text-with-image__image) {
    width: 100%;
    max-width: 375px;
    aspect-ratio: 375 / 95;
    height: auto;
    object-fit: cover;
  }

  .solutionItem :global(.item-text__title) {
    font-size: 36px;
  }

  .solutionItem :global(.item-text__text) {
    color: var(--Grey-70, #b3b3b3);
    font-size: 15px;
  }
}
