@use "../../styles/responsive.scss" as *;

.benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  max-width: 1596px;
  width: 100%;
}

@include responsive(phone) {
  .benefits {
    flex-direction: column;
  }
}
