@use "../../styles/responsive.scss" as *;

.benefits {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px 32px;
  max-width: 1596px;
  width: 100%;
}

.benefits {
  @include responsive-flex-stack(phone, 18px, center, flex-start);
}

@include responsive(screen) {
  .benefits {
    justify-content: center;
    gap: 20px 24px;
  }
}

@include responsive(tablet) {
  .benefits {
    justify-content: center;
    gap: 18px 20px;
  }
}

@include responsive(phone) {
  .benefits {
    flex-wrap: nowrap;
  }
}
