@use "../../styles/responsive.scss" as *;

.text-list {
  display: flex;
  width: 100%;
  padding-left: 60px;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border-left: 1px solid var(--cl-main, #caff33);
  box-sizing: border-box;
}

.text-list__item {
  position: relative;
  margin: 0;
  color: var(--cl-gray-70, #b3b3b3);
  font-family: var(--font-family-main, "Lexend", sans-serif);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  word-break: break-word;
}

.text-list__item::before {
  content: "•";
  position: absolute;
  left: -30px;
  top: 0;
  color: var(--cl-gray-70, #b3b3b3);
}

@include responsive(phone) {
  .text-list {
    padding-left: 60px;
    gap: 20px;
  }

  .text-list__item::before {
    left: -30px;
  }

  .text-list__item {
    font-size: 16px;
  }
}
